@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  margin: 2% 5%;
  font-family: 'Lato', sans-serif;
}

@media print and (orientation: landscape) {
  body {
    margin: 1% 2% 2%;
    font-family: 'Lato', sans-serif;
  }

  @page {
    size: landscape;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 19px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }

  header {
    margin-bottom: 40px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 80%;
  }

  .logo-container {
    width: 35%;
  }

  .logo-container img {
    max-width: 100%;
  }

  .text-container h2 {
    font-size: 28px;
    margin: 0;
  }

  .text-center {
    text-align: center;
    font-size: 23px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .info-container {
    text-align: left;
    width: 75%;
  }

  .info-container h3 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }

  .info-container h4 {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .info-container p {
    margin-bottom: 5px;
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }

  th {
    background-color: #f4f4f4;
    padding: 8px;
    text-align: left;
    text-transform: uppercase;
    font-size: 10px;
  }

  td {
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 11px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 14px;
}

header {
  margin-bottom: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 90%;
}

.logo-container {
  width: 35%;
}

.logo-container img {
  max-width: 100%;
}

.text-container h2 {
  font-size: 28px;
  margin: 0;
}

.text-center {
  text-align: center;
  font-size: 23px;
}

.margin-b {
  margin-bottom: 35px !important;
}

.info-container {
  text-align: left;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.info-container h3 {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.company-info {
  max-width: 50%;
}

.researcher-info {
  max-width: 45%;
  text-align: right;
}

.info-container h4 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0;
}

.info-container p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 95%;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  font-size: 13px;
}

th {
  background-color: #f4f4f4;
  padding: 8px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.info-clients {
  width: 95%;
  margin: auto;
}
 

footer {
  margin-top: 40px;
  color: #3a3a3a;
}

.footer-container {
  text-align: center;
}
 